html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  // Базовые настройки
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

// Базовые настройки модального окна
body.modal-open {
  overflow: hidden;
}
address {
  font-style: normal;
}

// Базовые настройки изображений
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  background-color: var(--gray-bgc);
  color: var(--black-text-color);
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--duration) var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.list {
  list-style: none;
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
