:root {
  --white: #ffffff;
  --hover-text-color: #393246;
  --footer-background: #F7F7F7;
  --button-background: #393246;

  --line-color: #D5D5D5;
  --backdrop-color: rgba(0, 0, 0, 0.6);

  --main-text-color: #777777;
  --form-text-color: #C1C1C1;

  --duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
