.benefits{
}
.benefits__container{
    margin-bottom: 50px;
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    
}
.benefits__title{
    margin-bottom: 50px;
    width: 100%;

}

.benefits__wrapper{

    width: calc((100% - 1 * 101px) / 2);
}
.benefits__label{
    margin-bottom: 50px;
}
.benefits__item{
    display: flex;
    justify-content: space-between;
}

.benefits__button{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background: transparent;
    border: 1px solid var(--line-color);
}

.benefits__image{
    width: 100%;
    height: auto;
}