.header{
    left: 0;
    top: 0;
    width: 100%;
    min-height: 105px;
    position: fixed;
    background-color: rgba(255,255,255,0);

    border-bottom: 0.5px solid #878787;
}
.header__container{
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu{
    display: flex;

    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: var(--white);
}
.menu__item{
    &:not(:last-child){
        margin-right: 50px;
    }
}
.phone{
    display: flex;
    align-items: center;

    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: var(--white);
}
